.button{
    cursor: pointer;
    border: 2px solid green;
    color: white;
    width: 8rem;
}
.button:hover{
    opacity: 0.9;

}
.start{    
    background: #1d531d;    
}

.hit{
    background: #1b7a49;
}
.stick{
    background: #b74a4a;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}